{:entity :audit_log
 :title "Audit Log"
 :table "audit_log"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-icon "bi bi-journal-text"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :entity :label "Entity" :type :textarea :required? true :placeholder "Entity..."}
          {:id :operation :label "Operation" :type :textarea :required? true :placeholder "Operation..."}
          {:id :data :label "Data" :type :textarea :placeholder "Data..."}
          {:id :user_id :label "User Id" :type :number}
          {:id :timestamp :label "Timestamp" :type :textarea :placeholder "Timestamp..."}]
 
 :queries {:list "SELECT * FROM audit_log ORDER BY id DESC"
           :get "SELECT * FROM audit_log WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
}
