{:entity :inventario
 :title "Inventario"
 :table "inventario"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-hidden true
 :menu-icon "bi bi-table"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :producto_id :label "Productos ID" :type :hidden}
          {:id :cantidad :label "Cantidad" :type :number}
          {:id :provedor_id :label "Provedores ID" :type :hidden}
          {:id :ultima_actualizacion :label "Ultima Actualizacion" :type :date}
          {:id :costo :label "Costo" :type :number}]
 
 :queries {:list "SELECT inv.*, pro.nombre as producto_nombre, pro1.nombre as provedore_nombre FROM inventario inv LEFT JOIN productos pro ON inv.producto_id = pro.id LEFT JOIN provedores pro1 ON inv.provedor_id = pro1.id ORDER BY inv.id DESC"
           :get "SELECT * FROM inventario WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
}
