{:entity :movimientos
 :title "Movimientos"
 :table "movimientos"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-hidden true
 :menu-icon "bi bi-table"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :producto_id :label "Productos ID" :type :hidden}
          {:id :tipo_movimiento :label "Tipo Movimiento" :type :text :required? true :placeholder "Tipo Movimiento..."}
          {:id :fecha_movimiento :label "Fecha Movimiento" :type :date}
          {:id :cantidad :label "Cantidad" :type :number :required? true}]
 
 :queries {:list "SELECT mov.*, pro.nombre as producto_nombre FROM movimientos mov LEFT JOIN productos pro ON mov.producto_id = pro.id ORDER BY mov.id DESC"
           :get "SELECT * FROM movimientos WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
}
