{:entity :productos
 :title "Productos"
 :table "productos"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-icon "bi bi-box-seam"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :nombre :label "Nombre" :type :textarea :placeholder "Nombre..."}
          {:id :precio :label "Precio" :type :decimal}
          {:id :categoria :label "Categoria" :type :textarea :placeholder "Categoria..."}
          {:id :imagen :label "Imagen" :type :textarea :placeholder "Imagen..."}
          {:id :codigo_qr :label "Codigo Qr" :type :textarea :placeholder "Codigo Qr..."}
          {:id :precio_compra :label "Precio Compra" :type :decimal}
          {:id :codigobarra :label "Codigobarra" :type :textarea :placeholder "Codigobarra..."}]
 
 :queries {:list "SELECT * FROM productos ORDER BY id DESC"
           :get "SELECT * FROM productos WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
 
 :subgrids [
            {:entity :cotizaciones_detalle
             :title "Cotizaciones Detalle"
             :foreign-key :producto_id
             :icon "bi bi-list-ul"
             :label "Cotizaciones Detalle"
             :relationship-type :one-to-many}
            {:entity :inventario
             :title "Inventario"
             :foreign-key :producto_id
             :icon "bi bi-list-ul"
             :label "Inventario"
             :relationship-type :one-to-many}
            {:entity :movimientos
             :title "Movimientos"
             :foreign-key :producto_id
             :icon "bi bi-list-ul"
             :label "Movimientos"
             :relationship-type :one-to-many}
            {:entity :ventas_detalle
             :title "Ventas Detalle"
             :foreign-key :producto_id
             :icon "bi bi-list-ul"
             :label "Ventas Detalle"
             :relationship-type :one-to-many}]}
