{:entity        :productos
 :title         "Productos"
 :table         "productos"
 :connection    :default
 :rights        ["U" "A" "S"]
 :mode          :parameter-driven
 :menu-category :Catalogos 
 :menu-order    45
 :menu-icon "bi bi-cart"
 

 

 :fields [{:id :id       :label "ID"        :type :hidden}
          {:id :nombre   :label "Nombre"    :type :text    :required? true :placeholder "Nombre del producto"}
          {:id :precio   :label "Precio de venta"    :type :decimal :min 0 :step 0.01 :placeholder "0.00"}
          {:id :precio_compra  :label "Precio de compra"    :type :decimal :min 0 :step 0.01 :placeholder "0.00"}
          {:id :categoria :label "Categoría" :type :select :options [{:value "electronica" :label "Electronica"}
                                                                     {:value "papeleria" :label "Papeleria"}
                                                                     {:value "deportes" :label "Deportes"}
                                                                     {:value "calzado" :label "Calzado"}
                                                                     {:value "ropa" :label "Ropa"}
                                                                     {:value "bicicleta" :label "Bicicleta"}
                                                                     {:value "servicio" :label "Servicio"}]}
          {:id :imagen   :label "Imagen"    :type :file}
          {:id :codigobarra :label "Código de barras" :type :text}
          ]

 :queries {:list "SELECT * FROM productos ORDER BY id DESC"
           :get  "SELECT * FROM productos WHERE id = ?"}

 :actions {:new true :edit true :delete true}

 :hooks {:after-load  :pos.hooks.productos/after-load
         :before-save :pos.hooks.productos/before-save}

 :subgrids [{:entity      :inventario
             :title       "Inventario"
             :foreign-key :producto_id
             :icon        "bi bi-box-seam"}
            {:entity      :movimientos
             :title       "Movimientos"
             :foreign-key :producto_id
             :icon        "bi bi-arrow-left-right"}]}
