{:entity :provedores
 :title "Provedores"
 :table "provedores"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-icon "bi bi-table"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :nombre :label "Nombre" :type :text :placeholder "Nombre..."}
          {:id :email :label "Email" :type :email :placeholder "user@example.com"}
          {:id :telefono :label "Telefono" :type :text :placeholder "Telefono..."}]
 
 :queries {:list "SELECT * FROM provedores ORDER BY id DESC"
           :get "SELECT * FROM provedores WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
 
 :subgrids [
            {:entity :inventario
             :title "Inventario"
             :foreign-key :provedor_id
             :icon "bi bi-list-ul"
             :label "Inventario"
             :relationship-type :one-to-many}]}
