{:entity :users
 :title "Users"
 :table "users"
 :connection :default
 :rights ["U" "A" "S"]
 :mode :parameter-driven
 :menu-order 999
 :menu-category :Users
 :menu-icon "bi bi-person"
 
 :fields [
          {:id :id :label "ID" :type :hidden}
          {:id :lastname :label ":users/lastname" :type :text}
          {:id :firstname :label ":users/firstname" :type :text}
          {:id :username :label ":users/username" :type :text}
          {:id :dob :label ":users/dob" :type :date}
          {:id :cell :label ":users/cell" :type :text}
          {:id :phone :label ":users/phone" :type :text}
          {:id :fax :label ":users/fax" :type :text}
          {:id :email :label ":users/email" :type :email}
          {:id :level :label ":users/level" :type :radio :options []}
          {:id :active :label ":users/active" :type :radio :options []}]
 
 :queries {:list "SELECT * FROM users ORDER BY id DESC"
           :get "SELECT * FROM users WHERE id = ?"}
 
 :actions {:new true :edit true :delete true}
 
 :subgrids [
            {:entity :cotizaciones
             :title "Cotizaciones"
             :foreign-key :usuario_id
             :icon "bi bi-list-ul"
             :label "Cotizaciones"
             :relationship-type :one-to-many}
            {:entity :tipo_cambio
             :title "Tipo Cambio"
             :foreign-key :usuario_id
             :icon "bi bi-list-ul"
             :label "Tipo Cambio"
             :relationship-type :one-to-many}
            {:entity :ventas
             :title "Ventas"
             :foreign-key :usuario_id
             :icon "bi bi-list-ul"
             :label "Ventas"
             :relationship-type :one-to-many}]}
